{% extends "base.html" %}
{% block body %}
<a href="#main" class="skip-link">Skip to content</a>
<div class="min-h-dvh lg:grid lg:grid-cols-[264px_minmax(0,1fr)]">
  {% include "partials/sidebar_studio.html" %}
  <div class="flex min-w-0 flex-col">
    {% include "partials/topbar.html" %}
    <main id="main" tabindex="-1" class="mx-auto w-full max-w-[1240px] flex-1 px-4 pb-16 pt-5 outline-none sm:px-6 lg:px-10 lg:pt-8">
      {% block content %}{% endblock %}
    </main>
  </div>
</div>
{% include "partials/palette.html" %}
{% endblock %}
